<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='bootstrap.min.css')}}">
    <title>{% block title%}{%endblock%}</title>
</head>
<body>
    <div class="d-flex flex-md-row align-items-center p-3 px-md-4 mb3 bg-white border-bottom shadow-sm" style="justify-content: space-between;">
        <h5 class="my-0 mr-md-auto font-weight-normal">URL Shortner</h5>
        <div style="display: flex;justify-content: flex-end;" >
        <nav class="my-2 my-md-0 mr-md-3" style="padding-right: 20px;">
            <a href="{{url_for('session_api')}}" class="p-2 text-dark">APi</a>
        </nav>
        <a href="{{url_for('hello')}}" class="btn btn-outline-primary">New URL</a>
    </div>
    </div>
    {% for message in get_flashed_messages() %}
    <div class="container text-center">
        <div class="p-3 mb-2 bg-danger text-white">
            {{message}}
        </div>
    </div>
    {%endfor%}
    {% block page_content %}{% endblock %}
    
    <script src="{{url_for('static',filename='jquery-3.6.0.slim.min.js')}}"></script>
    
    <script src="{{url_for('static',filename='popper.min.js')}}"></script>
    <script src="{{url_for('static',filename='bootstrap.min.js')}}"></script>
</body>
</html>